<div class="flex px-4 py-3 rounded-md" style="background-color: #818cf8">

    <span class="ltr:pr-3 rtl:pl-3 flex items-center" style="color: #f1faee">
  
      
  
    <span class="relative block icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-air-balloon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M10 19m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
    <path d="M12 16c3.314 0 6 -4.686 6 -8a6 6 0 1 0 -12 0c0 3.314 2.686 8 6 8z"></path>
    <path d="M12 9m-2 0a2 7 0 1 0 4 0a2 7 0 1 0 -4 0"></path>
  </svg>
  
  
  
    </span>
  
  
    </span>
  
    <span style="color: #f1faee">阿里云盘：👆【不限速，就是快】。免费享有大容量存储，尽情打造丰富的数字世界！🤟</span>
  </div>