<div>
    <table>
        <tr>
          <td style="text-align:center;"><img src="https://img.shields.io/github/stars/{{ .Get 0 }}?style=social" alt="shields.io/github/stars" title="项目的收藏量"></td>
          <td style="text-align:center;"><img src="https://img.shields.io/github/license/{{ .Get 0 }}" alt="shields.io/github/license" title="项目的开源协议"></td>
          <td style="text-align:center;"><img src="https://img.shields.io/github/release-date/{{ .Get 0 }}" alt="shields.io/github/release-date" title="项目的更新时间"></td>
          <td style="text-align:center;"><img src="https://img.shields.io/github/v/release/{{ .Get 0 }}" alt="shields.io/github/v/release" title="项目的最新版本"></td>
        </tr>
        <tr>
          <td style="text-align:center;"><img src="https://img.shields.io/github/issues/{{ .Get 0 }}" alt="shields.io/github/issues" title="项目进行中的反馈量"></td>
          <td style="text-align:center;"><img src="https://img.shields.io/github/languages/top/{{ .Get 0 }}" alt="shields.io/github/languages" title="项目的主要编程语言"></td>
          <td style="text-align:center;"><img src="https://img.shields.io/github/downloads/{{ .Get 0 }}/total" alt="shields.io/github/downloads" title="项目的总下载量"></td>
          <td style="text-align:center;"><img src="https://img.shields.io/github/downloads/{{ .Get 0 }}/latest/total" alt="shields.io/github/downloads/latest" title="最新版本的下载量"></td>
        </tr>
      </table>
</div>